.remark-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.remark-slide *,
.remark-slide *::before,
.remark-slide *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.remark-slide img {
  height: auto;
  max-height: 520px;
  max-width: 100%;
}

.remark-slide del {
  opacity: 0.6;
}

.remark-slide {
  font-size: 32px;
}

.remark-slide-content {
  font-size: 1em;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content h6 {
  font-weight: normal;
}

.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3,
.remark-slide-content h4,
.remark-slide-content h5,
.remark-slide-content h6,
.remark-slide-content p,
.remark-slide-content li {
  line-height: 1.75em;
  margin: 0;
}

.remark-slide-content p + p,
ul + .remark-slide-content p,
ol + .remark-slide-content p {
  margin-top: 0.875em;
}

.remark-slide-content h1,
.remark-slide-content h2 {
  font-family: NeueAlteGrotesk-Bold;
  font-weight: normal;
  font-style: normal;
  line-height: 1.16667em;
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}

.remark-slide-content h1 {
  font-size: 2.6rem;
}

.remark-slide-content h2 {
  font-size: 1.8rem;
}

.remark-slide-content h3 {
  font-family: NeueAlteGrotesk-Semibold;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  opacity: 0.8;
  text-transform: uppercase;
}

.remark-slide-content:not(.title) > h1 {
  background-image: linear-gradient(transparent calc(100% - 2px), #F6F930 2px);
  background-position: left 100%;
  background-repeat: no-repeat;
  background-size: 75% 100%;
  font-family: Native-Regular;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6rem;
  margin-bottom: 1em;
  padding-bottom: 2px;
  text-transform: uppercase;
}

.remark-slide-content.title > h1 {
  font-family: NeueAlteGrotesk-Black;
  font-weight: normal;
  font-style: normal;
  font-size: 4rem;
}

.remark-slide-content .text-smaller {
  font-size: 65%;
}

.remark-slide {
  background-color: #FCFCFC;
  color: #22333B;
  font-family: NeueAlteGrotesk-Regular;
  font-weight: normal;
  font-style: normal;
}

.remark-slide-content.bkgd-contain {
  background-size: contain;
}

.remark-slide-content.bkgd-cover {
  background-size: cover;
}

.remark-slide::before {
  background-image: linear-gradient(to right, #22333B 50%, transparent 50%), linear-gradient(#F6F930, transparent 8px);
  background-position: left top, left 100%;
  background-repeat: repeat-x, no-repeat;
  background-size: 20px 3px, 120% 100%;
  content: '';
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 65%;
}

.remark-slide-content {
  height: 100%;
  width: 100%;
}

.remark-slide-number {
  font-family: Native-Regular;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

a {
  color: rgba(10, 9, 8, 0.8);
}

a:hover, a:active {
  color: #0A0908;
}

a:visited {
  color: #22333B;
}

.inline {
  display: inline !important;
}

.cf::before, .cf::after {
  content: ' ';
  display: table;
}

.cf::after {
  clear: both;
}

.right-float {
  float: right;
}

.left-float {
  float: left;
}

.remark-code,
.remark-inline-code {
  font-family: Native-Regular;
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

.remark-code {
  font-size: 1em;
  white-space: pre-wrap;
}
/*# sourceMappingURL=styles.css.map */