$font-serif: 'Cormorant Garamond',
Serif;
$font-sans: 'Fira Sans',
Sans-Serif;
$font-mono: 'Fira Mono',
monospace;
// palette inspiration
// http://www.color-hex.com/color-palette/19403
// http://www.color-hex.com/color-palette/31786
// http://www.color-hex.com/color-palette/30990
// http://www.color-hex.com/color-palette/30412
$color-offblack: #1b203a;
$color-offwhite: whitesmoke;
$color-grey: #889094;
$color-greyli: rgba($color-grey, 0.2);
$color-marine: #508ea1;
$color-eggplant: #404463;
$color-indigo: #243149;
$color-text-body: $color-offblack;
$color-text-link: $color-marine;
$color-text-link-visited: $color-eggplant;
